.containerPrincipal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid blue;
  border-radius: 10px;
  padding: 40px;
  background-color: white;
}

.containerSecundario {
  text-align: center;
}
.formcontrol {
  width: 400px;
}
.btnInicio {
  background-color: #4391f0;
  border-radius: 5px;
  margin-top: 20px;
  height: 50px;
}
.atrasContainer {
  background-color: aqua;
}
.btnAtras {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(221, 127, 38);
  font-family: "Butterfly Kids", cursive;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 120px;
  font-size: larger;
}
.logoPagina {
  background-image: url(../images/EducateLOGO.png);
  background-color: black;
}
.botonCerrar {
  padding: 15px 50px;
  color: white;
  top: 15%;
  left: 80%;
  position: absolute;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(221, 127, 38);
  font-family: "Butterfly Kids", cursive;
}
.btlink{
  background-color: rgb(221, 127, 38);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  border: 2px solid rgb(255, 255, 255);
  font-family: "Butterfly Kids", cursive;
  top: 45%;
  left: 45%;
  position: absolute;
}
@media (max-width: 700px) {
  .containerPrincipal {
    left: 60%;
  }
  .botonCerrar {
    left: 110%;
  }
}
@media (max-width: 630px) {
  .containerPrincipal {
    left: 80%;
  }
}
@media (max-width: 540px) {
  .botonCerrar {
    left: 130%;
  }
  .btlink{
    left: 70%;
  }
}
@media (max-width: 430px) {
  .containerPrincipal {
    left: 100%;
  }
  .btnAtras {
    font-size: 30px;
  }
  .botonCerrar {
    left: 160%;
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .containerPrincipal {
    left: 130%;
  }
  .botonCerrar {
    left: 200%;
  }
}
@media (max-width: 310px) {
  .botonCerrar {
    left: 230%;
  }
}
